html,.container ,.imgbox 
    width 100%
body
    margin: 0;
.imgbox
    position relative
.imgbox img
    width: 100%; 
.btn
    position: fixed;
    width: 4rem;
    bottom: 0.5rem;
    left: 50%;
    margin-left: -2rem;
    text-align: center;
    > img 
        width: 100%;
.number
    position: absolute;
    display: inline-block;
    width: 1.3rem;
    height: 0.82rem;
    top: 5.6rem;
    left: 2.3rem;
    font-size: 0.64rem;
    text-align: center;
    color: #ffe400;
    line-height: 0.82rem;
    font-weight: bold;
