    html,body{
        width: 100%;
        height: 100vh;
    }
    .container{
        width: 100%;
        height: 100vh;
        background-color: #A9DBFB;
        position: relative;
    }
    .buyBtn{
      width: 500px;
      height: 80px;
      margin: 0 auto;
      background-image: linear-gradient(135deg,rgb(251,184,20,1) 0%, rgba(242,140,5,1) 100%);
      border-radius: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-family: PingFang SC-Medium, PingFang SC;
      font-weight: 500;
      color: #fff;
      line-height: 33px;
      position: absolute;
      left: 50%;
      bottom: 50px;
      transform: translate(-50%,0%);
    }
    .bgc{
        width: 100%;
    }
    .content{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: scroll;
        box-sizing: border-box;
    }
    .title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }
    .title>span{
        font-size: 60px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF;
        line-height: 70px;
    }
    .tips{
        width: 680px;
        // height: 48px;
        font-size: 24px;
        font-family: PingFang SC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        letter-spacing: 2px;
        text-align: center;
        line-height: 48px;
        box-sizing: border-box;
        padding: 20px 150px;
        margin: 14px auto 0;
    }
    .mall_list{
      width: 710px
      height: 250px
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 100px;
    }
    .mall_list >div{
      width: 345px
      height: 100%
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow: hidden;
      position: relative;
    }
    .mall_list >div:nth-child(1){
      background-color: orange
    }
    .mall_list >div:nth-child(2){
      background-color: #fef9ef
    }
    .mall_title{
      font-size: 24px;
      margin-top: 10px;
      padding-left: 10px;
      box-sizing: border-box;
    }
    .mall_name{
      width: 100%;
      text-align: center;
      font-size: 46px
      margin-top: 30px
    }
    .mall_name.three{
      color: orange;
    }
    .mall_discount{
      width: fit-content;
      height: 50px;
      line-height: 50px;
      background-color: #fff;
      border-radius: 25px;
      font-size: 24px;
      font-family: PingFang SC-Medium, PingFang SC;
      font-weight: 500;
      color: #FF6600;
      margin: 0 auto;
      margin-top: 10px;
      padding: 0 20px;
    }
    .mall_desc{
      width: 100%;
      font-size: 18px;
      font-family: PingFang SC-Medium, PingFang SC;
      font-weight: 500;
      margin-top: 10px;
      text-align: center;
      // padding: 0 10px;
    }
    .pop_content{
        width: 613px;
        background-color: transparent;
        position: relative;
    }
    .mall_price{
      position: absolute;
      width: 100px;
      height: 40px;
      background-color: #fff;
      border-radius: 0 20px 0 20px;
      font-size: 30px;
      font-family: PingFang SC-Medium, PingFang SC;
      font-weight: 500;
      color: #FF6600;
      line-height: 40px;
      text-align: center;
      top: 0px;
      right: 0px;
    }
    .mall_price.three{
      background-color: orange;
      color: #000;
    }
    .pop_content>.popup{
        width: 100%
    }
    .instrtion{
      width: 650px;
      height: 200px;
      background-color: #fef9ef
      border-radius: 20px;
      margin: 0 auto;
      margin-top: 10px;
      padding: 0 20px;
      box-sizing: border-box;
      position: relative;
      margin-top: 150px;
      padding-top: 50px;
    }
    .instrt_title{
      font-size: 30px;
      font-family: PingFang SC-Medium, PingFang SC;
      font-weight: 500;
      color: #fff;
      background-color: orange;
      text-align: center;
      width: 200px;
      height: 50px;
      line-height: 50px;
      border-radius: 25px;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translate(-50%,0%)
    }
    .instrt_content{
      margin-top: 30px;
      font-size: 24px;
      font-family: PingFang SC-Medium, PingFang SC;
      font-weight: 500;
      color: #805A38;
      line-height: 33px;
    }
    .van-popup{
        background-color: transparent!important;
    }
    .contentbox{
        width: 423px;
        height: 368px;
        position: absolute;
        left: 96px;
        top: 195px;
        box-sizing: border-box;
        padding-top: 100px;
    }
    .popup_title{
        font-size: 36px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #805A38;
        line-height: 42px;
        text-align: center;
        width: 100%;
    }
    .popup_gift{
        width: 297px;
        height: 48px;
        background: #FDD000;
        border-radius: 45px;
        text-align: center;
        line-height: 48px;
        font-size: 24px;
        font-family: PingFang SC-Medium, PingFang SC;
        font-weight: 500;
        color: #805A38;
        margin: 42px auto 0;
    }
    .popup_download{
        width: 327px;
        height: 60px;
        background: #64C1FF;
        border-radius: 100px;
        text-align: center;
        line-height: 60px;
        font-size: 20px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF;
        margin: 42px auto 0;
    }

    ::v-deep input::-webkit-outer-spin-button,
    ::v-deep input::-webkit-inner-spin-button{
        -webkit-appearance: none!important;
    }
