@import '~@/assets/style/mixins.styl'

.container
    width 100%
    height 100%

.index
    padding-bottom 1.28rem
    box-sizing border-box
    font-family PingFangSC-Regular

.banner
    padding 0.2rem 0.2rem 0.3rem 0.2rem
    background #fff
.banner-box
    overflow hidden
    border-radius 0.2rem
    box-shadow 0 0.04rem 0.2rem 0 rgba(0,0,0,0.3)
.banner-swiper-item
    width 100%
// 重置swiper指示器默认样式
.swiper-pagination-bullet
    margin 0 0.1rem!important
    width 0.14rem
    height 0.14rem
    border-radius 0.07rem
    background #fff
    opacity 1
.swiper-pagination-bullet-active
    background #D0021B!important
.swiper-pagination-bullets
    bottom 0.2rem
    text-align center

.title
    position relative
    padding 0 0.2rem 0.3rem 0.2rem
    box-sizing border-box
    background #fff
    line-height: 0.4rem
    font-size 0.28rem
    color #666666
.title-goodrate
    position absolute
    right 0.2rem
    top 0
    text-align center
    > div:first-of-type
        line-height 0.62rem
        font-Medium-bold()
        font-size 0.44rem
        color #000000
.title-name
    display flex
    padding-right 1.3rem
    > span
        line-height 0.5rem
        font-size 0.36rem
        color #333333
        font-Medium-bold()
        ellipsis()
    > a > img
        flex-shrink 0
        margin-left 0.1rem
        width 0.5rem
        height 0.5rem
.title-opentime,.title-wx,.title-address
    margin-top 0.1rem
.title-wx
    display flex
    align-items center
    > img
        margin-left 0.1rem
        width 0.28rem
.title-address
    display flex

// 重置popup组件默认样式
.v-modal
    opacity 0.7
.mint-popup
    background none
.wximg
    width 6.4rem
.wximg-content
    background #fff
    border-radius 0.28rem
.wximg-title
    display flex
    justify-content space-between
    align-items center
    padding 0 0.68rem
    height 1.18rem
    border-bottom 1px solid #eee
    > div:first-of-type
        font-size 0.28rem
        color #666
        ellipsis()
    > a
        width 1rem
        height 0.46rem
        line-height 0.46rem
        border-radius 0.08rem
        text-align center
        border 1px solid #BB996C
        color #BB996C
.wximg-img
    padding 0.4rem 0
    > img
        margin 0 auto
        width 4rem
.wximg-tip
    padding-bottom 0.4rem
    line-height 0.33rem
    text-align center
    font-size 0.24rem
    color #666
.wximg-btn
    margin-top 0.4rem
    > img
        margin 0 auto
        width 0.68rem

.tab
    display flex
    align-items center
    height 1rem
    background #fff
    font-size 0.28rem
    color #000000
    > div
        flex 1
        text-align center
    > .active
        display flex
        flex-direction column
        align-items center
        font-Medium-bold()
        font-size 0.3rem
        font-weight bold
        &:after
            content ''
            margin 0.02rem 0
            width 0.6rem
            height 0.04rem
            background-image linear-gradient(90deg, #EB6340 0%, #E5287B 100%)

.content
    background #fff
.content-list
    display flex
    flex-wrap wrap
    font-size 0.24rem
    color #666666
    > div
        margin-top 0.3rem
        width 1.875rem
        text-align center
        > img
            margin 0 auto
            circle(1.3)
        > div:first-of-type
            margin 0.04rem 0 0.02rem 0
            line-height 0.4rem
            font-size 0.28rem
            color #333
        
