body
  background-color: #FFF8D8;
.container
  width: 100%;
  height: 100%;
.index
  padding-top: 0.3rem;
  padding-bottom: 1.28rem;
  box-sizing: border-box;
.global-tip
  font-size: 0.24rem;
  text-align: center;
  color: #000;
  white-space: nowrap;
.loading
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ecf0f1;
  > img
    transform: scale(0.5);
// 新用户
.newuser
  box-sizing: border-box;
  .newuser-title
    height:1.2rem;
    width:100%;
    text-align: center;
    margin-top: 0.4rem;
    > img 
        display: inline-block;
        height 100%;
  .newuser-content
    position: relative;
    width: 100%;
    // height: 10rem;
    padding-top: 2.6rem;
    box-sizing: border-box;
    font-family: PingFangSC-Regular;
    font-size: 0.28rem;
    color: #999999;
    letter-spacing: 0;
    > img
      position: absolute;
      left: 50%;
      margin-left: -2.81rem;
      top: 0.8rem;
      z-index 2;
      width: 5.62rem;
      height: 3.43rem;
.formbox
    width: 6.4rem;
    height: 6.55rem;
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15646290630537218933.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    position relative;
    margin: 0 auto;
.newuser-form
    position: absolute;
    width: 5.8rem;
    left: 50%;
    margin-left: -2.9rem;
    top: 2.5rem;
    input
      font-size: 0.28rem;
.form-cellPhone,.form-imgcode,.form-code
  position: relative;
  padding-left: 0.3rem;
  box-sizing: border-box;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  background: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 0.2rem;
  > input
    width: 100%;
    height: 0.8rem;
.form-imgcode > img
  position: absolute;
  right: 0.07rem;
  top: 0.07rem;
  width: 1.73rem;
  height: 0.65rem;
.form-code > span
  position: absolute;
  right: 0;
  top: 0;
  width: 1.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  background-image: linear-gradient(0deg, #FF521D 0%, #FF7B2A 100%);
  border-radius: 0 4px 4px 0;
  font-size: 0.24rem;
  color: #FFFFFF;
  letter-spacing: -0.37px;
  &.grey
    background: #bbb;
.newuser-btn
  background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15646290629664991170.png') no-repeat
  background-size: 100% 100%
  -moz-background-size: 100% 100%
  -webkit-background-size: 100% 100%
  position: absolute;
  width: 5.8rem;
  height 1.2rem;
  left: 50%;
  margin-left: -2.9rem;
  bottom: -0.6rem;
  color: #fff;
  text-align: center;
  line-height: 1rem;
//   > img
//     margin: 0 auto;
//     width: 4.22rem;
// 老用户
.olduser-box
  width: 100%;
  position: absolute;
  top: 0;
.olduser
  background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15646290626577584695.png') no-repeat
  background-size: 100% 100%
  -moz-background-size: 100% 100%
  -webkit-background-size: 100% 100%
  margin: 0 auto;
  width: 5.7rem;
  height: 5.60rem;
  margin-top: 2.2rem;
  box-sizing: border-box;
  font-family: PingFangSC-Regular;
  font-size: 0.36rem;
  color: #333333;
  letter-spacing: 0;
  line-height: 0.6rem;
  position: relative;
  > .oldlw
        // height: 3.26rem;
        width: 4.85rem;
        position: absolute;
        left: 50%;
        margin-left: -2.225rem;
        top: -1.2rem;
  > .oldcontent
    width: 4.8rem;
    height: 1.2rem;
    position: absolute;
    left: 50%;
    top: 2.8rem;
    margin-left: -2.4rem;
    > img 
        width: 100%;
  > .share
    width: 6.05rem;
    height: 1.2rem;
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15646290629079598311.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    position: absolute;
    bottom: -0.35rem;
    color: #ffffff;
    left: -0.18rem;
    text-align: center;
    line-height: 1rem;
.oldhf
    height:1.57rem;
.olduser-tip
  margin: 0.24rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  > img
    margin-right: 0.1rem;
    width: 0.6rem;
// 新人礼包
.xrlbbox
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
.footer-img-xrlb
  width: 7.5rem;
.xrlb
  flex: 1;
  margin: 0 auto;
  padding-top: 0.4rem;
  box-sizing: border-box;
  width: 6.9rem;
  min-height: 100%;
.xrlb-title
  margin: 0 auto;
  width: 4.39rem;
.xrlb-btn
  margin: 0.2rem auto;
  background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15646290629664991170.png') no-repeat
  background-size: 100% 100%
  -moz-background-size: 100% 100%
  -webkit-background-size: 100% 100%
  width: 5.8rem;
  height 1.2rem;
  text-align: center;
  line-height: 1rem;
  color: #ffffff;
  >img
    width: 100%;
    display: inline-block;
    
.xrlb-content
  margin: 0 auto;
.coupon-list
  margin: 0.4rem 0;
.coupon-item{
  margin: 0 auto;
  display: flex;
  margin-bottom: 0.1rem;
  width: 6rem;
  height: 1.5rem;
  background-image: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/miniprogram/15238731422631099434.png');
  background-size: 100% 100%;
  color: #fff;
}
.coupon-item > div{
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  height: 1.5rem;
}
.coupon-item > div:nth-child(1){
  align-items: center;
  width: 1.8rem;
  line-height: 1.5rem;
}
.coupon-item > div:nth-child(2){
  flex-direction: column;
  padding: 0 0.3rem;
  box-sizing: border-box;
  width: 4.2rem;
  height: 1.5rem;
}
.coupon-icon{
  font-size: 0.4rem;
}
.coupon-amount{
  font-size: 0.6rem;
}
.coupon-name{
  font-size: 0.3rem;
}
.coupon-desc{
  font-size: 0.2rem;
}
.coupon-item > view > text{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// 底部图片
.footer-img
  position: absolute;
  bottom: 0;
  width: 7.5rem;
.popup
  position: relative;
  width: 100%;
  height: 100%;
  > img
    position: absolute;
    top: 0;
    right: 0.3rem;
    width: 4.8rem;
