html,.container ,.imgbox 
    width 100%
body
    margin: 0;
.imgbox
    position relative
    min-height 4024px;
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15432196167832568310.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
.btn
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;