@import '~@/assets/style/mixins.styl';
.index
    width: 100%;
.success
    position relative;
    width: 100%;
    > img 
        width: 100%;
    > .phone
        position absolute;
        top 7.435rem;
        right 0.35rem;
        color gold; 
        font-size: 0.4rem;
        font-weight: bolder;
    > .used
        position absolute;
        width: 6.5rem;
        height 0.8rem;
        left: 50%;
        margin-left: -3.2rem;
        top: 9.25rem;
.fail
    width: 100%;
    > img 
        width: 100%;
