@import '~@/assets/style/mixins.styl'

.index
    height 100%

.content
    padding-bottom 0.98rem
    background #f8f8f8

.detail-imgs
    > img
        width 100%

.title
    margin-bottom 0.2rem
    padding 0 0.2rem
    background #fff
.title-name
    font-size 0.36rem
    color #333
    font-Medium-bold()
    ellipsis-multi-lineheight(2, 0.45)
.title-price
    display flex
    align-items center
    padding 0.2rem 0
    > span:nth-child(1)
        font-Medium-bold()
        font-size 0.4rem
    > span:nth-child(2)
        margin-left 0.3rem
        font-size 0.26rem
        color #d0021b


.tab
    display flex
    position fixed
    bottom 0
    width 7.5rem
    background #fff
    height 0.98rem
    line-height 0.98rem
    box-shadow 0 -2px 2px 0 rgba(238,238,238,0.50), inset 0 1px 0 0 rgba(221,221,221,0.50)
    font-size 0.3rem
    color #333
    background #fff
    > div:last-of-type
        display flex
        align-items center
        > div
            flex 1
        &:before
            content ''
            width 0.02rem
            height 0.36rem
            background #ddd
.tab-item > div
    display flex
    justify-content center
    align-items center
    &:before
        margin-top 0.05rem
        margin-right 0.1rem
        content ''
        width 0.5rem
        height 0.5rem
        background-size 100%
.tab-item
    flex 1
    &.over
        color #bbb
.tab-item:first-of-type > div:before
    background-image url('~@static/images/201809/bargain/menu.png')
.tab-item:last-of-type > div:before
    background-image url('~@static/images/201809/bargain/free1.png')
.tab-item.over:last-of-type > div:before
    background-image url('~@static/images/201809/bargain/free0.png')
