@import '~@/assets/style/mixins.styl'

.index
    height 100%
    background #f8f8f8

.list,.mylist
    padding-bottom 0.98rem
    background #f8f8f8

.rule
    position absolute
    right 0
    top 0.14rem
    z-index 10
    width 1.4rem
    height 0.5rem
    line-height 0.5rem
    border-radius 0.25rem 0 0 0.25rem
    text-align center
    background #FCDC19
    font-size 0.24rem
    box-shadow 0 0.02rem 0.06rem 0 rgba(83, 0, 0, 0.5)

.listbanner
    > img
        width 100%
        height 3rem

.item-content
    display flex
    margin-top 0.2rem
    padding 0.3rem 0.2rem
    background #fff
    > div:first-of-type
        flex-shrink 0
        margin-right 0.2rem
        width 1.6rem
        position relative
        border-radius 0.1rem
        overflow hidden
        > img
            width 1.6rem
            height 1.6rem
            border-radius 0.1rem
        > div
            position absolute
            left 0
            top 0
            width 100%
            border-radius 0.1rem
            line-height 1.6rem
            text-align center
            font-size 0.26rem
            color #fff
            background rgba(0,0,0,0.5)
    > div:last-of-type
        flex 1
        display flex
        flex-direction column
        justify-content space-between
        overflow hidden
        > div:first-of-type
            display flex
            align-items center
            height 0.84rem
            > div
                font-size 0.3rem
                color #333
                ellipsis-multi-lineheight(2, 0.42)
        > div:last-of-type
            padding-bottom 0.04rem
            font-size 0.3rem

.tasklist-item .font-red
        margin-left 0.2rem
        font-size 0.24rem
.tasklist-item.over
    & .tasklist-title,& .tasklist-title,& .font-red
        color #bbb
.tasklist-bottom
    display flex
    justify-content space-between
    align-items center
    overflow hidden
    height 0.66rem
    > div:last-of-type
        flex-shrink 0
.tasklist-price
    ellipsis()
    font-size 0.3rem
    color #000
    > span
        margin-right 0.2rem

.mytasklist-title.over
    color #666
.mytasklist-statetip
    font-size 0.26rem
    color #666
.mytasklist-bottom
    padding 0 0.2rem
    background #fff
    > div
        display flex
        justify-content space-between
        align-items center
        height 1.12rem
        border-top 1px solid #eee
.mytasklist-btn
    & > div:nth-child(2)
        margin-left 0.4rem

.tab
    display flex
    position fixed
    bottom 0
    width 7.5rem
    background #fff
    height 0.98rem
    line-height 0.98rem
    box-shadow 0 -2px 2px 0 rgba(238,238,238,0.50), inset 0 1px 0 0 rgba(221,221,221,0.50)
    font-size 0.3rem
    color #666666
    > div:last-of-type
        display flex
        align-items center
        > div
            flex 1
        &:before
            content ''
            width 0.02rem
            height 0.36rem
            background #ddd
.tab-item > div
    display flex
    justify-content center
    align-items center
    &:before
        margin-right 0.1rem
        content ''
        width 0.42rem
        height 0.42rem
        background-size 100%
.tab-item
    flex 1
    &.active
        color #D0021B
.tab-item:first-of-type > div:before
    background-image url('~@static/images/201809/bargain/bath0.png')
.tab-item:last-of-type > div:before
    background-image url('~@static/images/201809/bargain/user0.png')
.tab-item.active:first-of-type > div:before
    background-image url('~@static/images/201809/bargain/bath1.png')
.tab-item.active:last-of-type > div:before
    background-image url('~@static/images/201809/bargain/user1.png')

// .join
//     width 5.4rem
.join-clearbtn
    display flex
    justify-content flex-end
    margin-bottom 0.3rem
    > img
        width 0.43rem
        height 0.43rem
.join-popup
    width 5.4rem
    padding 0.5rem 0 0.4rem 0
    border-radius 0.2rem
    background #fff
.join-title
    > img
        margin 0 auto
        width 0.94rem
    > div
        margin-top 0.34rem
        line-height 0.42rem
        font-size 0.3rem
        color #333
        text-align center
.join-btn
    display flex
    justify-content center
    margin-top 0.62rem
