html,.container ,.imgbox 
    width 100%
body
    margin: 0;
.imgbox
    position relative
.imgbox img
    width: 100%; 
.btn
    position: fixed;
    width: 4rem;
    bottom: 0.25rem;
    left: 50%;
    margin-left: -2rem;
    text-align: center;
    > img 
        width: 100%;
.number
    position: absolute;
    width: 100%;
    height: 0.82rem;
    // background-color: transparent;
    top: 4.64rem;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.82rem;
    > span 
        font-size: 0.4rem;
        font-weight: bold;
