<!DOCTYPE html>
<html>
  <head>
    <title>宠物家</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="app"></div>
    <!-- <script>
        var timestamp = new Date().getTime().toString()
        timestamp = timestamp.substr(0, timestamp.length - 5)
            document.write('<script src="../../../static/config/index.js?t='+timestamp+'"><\/script>')
    </script>
    <% var env = ''; if (process.env.NODE_ENV === 'development') { env = '<script src="/static/config/dev.js"><\/script>' } %>
    <%= env %>
    <script>
        if (config.vconsole) {
            document.write('<script src="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/3.0.0/vconsole.min.js"><\/script><script>new VConsole();console.log(location.href)<\/script>')
        }
    </script> -->
  </body>
</html>
