    html,body{
        width: 100%;
        height: 100%;
    }
    .container{
        width: 100%;
        height: 100%;
        background-color: #A9DBFB;
        position: relative;
    }
    .bgc{
        width: 100%;
    }
    .content{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: scroll;
        box-sizing: border-box;
    }
    .title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .title>img{
        width: 26px;
        height: 58px;
    }
    .title>span{
        font-size: 60px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF;
        line-height: 70px;
    }
    .tips{
        width: 680px;
        // height: 48px;
        background: #2CAAFF;
        border-radius: 29px 29px 29px 29px;
        font-size: 24px;
        font-family: PingFang SC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        letter-spacing: 2px;
        text-align: center;
        line-height: 48px;
        box-sizing: border-box;
        padding: 20px 150px;
        margin: 14px auto 0;
    }
    .formbox{
        height: 517px;
        width: 862px;
        margin: 50px auto 0;
        box-sizing: border-box;
        position: relative;
    }
    .formbox.small{
        width: 630px;
    }
    .formboxbgc{
        width: 100%;
    }
    .formboxboy{
        position: absolute;
        width: 295px;
        height: 368px;
        right: -82px;
        bottom: 2px;
    }
    .form{
        width: 404px;
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -202px;
    }
    .formitem{
        width: 404px;
        height: 59px;
        background: #FFFFFF;
        border-radius: 87px;
        margin-bottom: 28px;
        position: relative;
    }

    .formitem.small{
        height: 80px;
    }
    .formitem>.phone{
        width: 100%;
        height: 100%;
        background-color: #FFFFFF!important;
        border-radius: 87px;
        border: none;
        padding: 0 21px;
        font-size: 16px;
        box-sizing: border-box;
    }
    .formitem>.phone.small{
        font-size: 30px;
    }
    .formitem>.phone::placeholder{
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #D9D9D9;
    }
    .formitem>.phone.small::placeholder{
        font-size: 30px;
    }
    .codeclass{
        width: 113px;
        height: 42px;
        background: #F08300;
        border-radius: 87px;
        text-align: center;
        line-height: 42px;
        font-size: 18px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -21px;
    }
    .codeclass.code{
        color: #fbf9f9;
    }
    .getbtn{
        position: absolute;
        width: 404px;
        height: 68px;
        background: linear-gradient(270deg, #F08300 0%, #FFCE1F 100%);
        border-radius: 87px;
        text-align: center;
        line-height: 68px;
        font-size: 28px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF;
        left: 50%;
        margin-left: -202px;
        bottom: 124px;
    }
    .explain{
        width: 829px;
        // height: 207px;
        background: #FFFFFF;
        position: relative;
        margin: 32px auto;
        border-radius: 20px;
        overflow: hidden;
        box-sizing: border-box;
    }
    .explain.small{
        width: 630px;
        // height: 331px
    }
    .explain_title{
        position: absolute;
        width: 227px;
        height: 49px;
        background: #F08300;
        border-radius: 0px 0px 24px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        margin-left: -113.5px;
        top: -1px;
    }
    .explain_title>img{
        width: 16px;
        height: 16px;
    }
    .morespan{
        font-size: 18px;
        font-family: PingFang SC-Medium;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 21px;
        margin: 0 8px;
    }
    .morespan.samll{
        font-size: 32px;
    }
    .explain_content{
        width: 100%;
        margin-top: 80px;
    }
    .explain_content.small{
        margin-top: 110px;
    }
    .explain_content>div{
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 130px;
        margin-bottom: 32px;
        font-size: 18px;
    }
    .explain_content>div.small{
        padding-left: 30px;
        font-size: 28px;
    }
    .explain_content>div img{
        width: 16px;
        height: 16px;
        margin-right: 12px;
    }
    .pop_content{
        width: 613px;
        background-color: transparent;
        position: relative;
    }
    .pop_content>.popup{
        width: 100%
    }
    .van-popup{
        background-color: transparent!important;
    }
    .contentbox{
        width: 423px;
        height: 368px;
        position: absolute;
        left: 96px;
        top: 195px;
        box-sizing: border-box;
        padding-top: 100px;
    }
    .popup_title{
        font-size: 36px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #805A38;
        line-height: 42px;
        text-align: center;
        width: 100%;
    }
    .popup_gift{
        width: 297px;
        height: 48px;
        background: #FDD000;
        border-radius: 45px;
        text-align: center;
        line-height: 48px;
        font-size: 24px;
        font-family: PingFang SC-Medium, PingFang SC;
        font-weight: 500;
        color: #805A38;
        margin: 42px auto 0;
    }
    .popup_download{
        width: 327px;
        height: 60px;
        background: #64C1FF;
        border-radius: 100px;
        text-align: center;
        line-height: 60px;
        font-size: 20px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF;
        margin: 42px auto 0;
    }

    ::v-deep input::-webkit-outer-spin-button,
    ::v-deep input::-webkit-inner-spin-button{
        -webkit-appearance: none!important;
    }

.van-toast{
  width: 320px!important;
  height: 100px!important;
  font-size: 24px!important;
  line-height: 30px!important;
}
