@import '~@/assets/style/mixins.styl';
.index
    font-size 0.28rem
    height 100%
    width 100%

.first
    font-size 0.28rem
    height 100%
    width 100%
    position: relative
.indexbg
    width: 100%
    height 100%
.rule
    position: absolute
    top: 1.15rem
    right: 0.3rem
    font-family: PingFangSC-Medium
    font-Medium-bold()
    font-size: 0.3rem
    color: #FFFFFF
    letter-spacing: 0.0012rem
    text-shadow: 0 0.02rem 0.04rem rgba(0,0,0,0.50)
.img-box
    width: 100%
    position relative
.join
    position absolute
    bottom: 1.5rem
    left: 50%
    margin-left: -1.75rem
    text-align: center
    color: #ffffff
.participate
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15415064323402925552.png') no-repeat
    width: 3.5rem
    height: 1rem
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    text-align: center
    line-height: 0.8rem
    font-family: PingFangSC-Semibold
    font-Medium-bold()
    font-size: 0.35rem;
    color: #FFFFFF;
    letter-spacing: 0.04rem
.joinshare
    position fixed
    bottom: 1.5rem
    left: 50%
    margin-left: -1.75rem
    text-align: center
    color: #ffffff
.questions-page
    height 100%
    width 100%

.curvideo
    height 100%
    width 100%
    position: relative
    z-index:1
    background #000
    > .video
        width: 100%
        height: 100%
        z-index : 1
        > video 
            width: 100%
            height: 100%
    > .mask
        width: 100%
        height 100%
        position absolute
.checkbox
    width: 0.35rem
    height 0.35rem
    > div
        width 0.35rem
        height 0.35rem
        background: url('~@static/images/201810/doubleeleven/diabled.png') no-repeat
        background-size: 100% 100%
        -moz-background-size: 100% 100%
        -webkit-background-size: 100% 100%
    > div:first-of-type
        position absolute
        width: 0.35rem
        height 0.35rem
        background: url('~@static/images/201810/doubleeleven/selected.png') no-repeat
        background-size: 100% 100%
        -moz-background-size: 100% 100%
        -webkit-background-size: 100% 100%

.modal
    width: 100%
    height: 100%
    z-index: 999
    position: absolute
    left: 0
    top: 0
.questions
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15415064334482388462.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    position: absolute
    width: 100%
    height: 5.3rem
    bottom: 1.2rem
    color: #fff

.questions-detail
    width: 6rem
    padding-top: 2rem
    padding-left: 0.77rem
    > div:first-of-type
        font-family: PingFangSC-Regular;
        font-size: 0.3rem;
        color: #FFFFFF;
        letter-spacing: 0.0012rem;
        text-shadow: 0 0.02rem 0.04rem rgba(0,0,0,0.50);
        margin-bottom: 0.15rem
.answers
    font-family: FZLTZHUNHJW--GB1-0
    font-size: 0.24rem
    color: #ffffff
    letter-spacing: 0.01rem
    line-height: 0.38rem
    width: 100% 
    display: flex
    justify-content: space-between
    align-items: center
    > div:first-of-type
        display: flex
    > div:last-of-type
        //防止被挤压
        flex-shrink: 0

.replay
    position: absolute
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15415064332178910959.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    top: 0.3rem
    left: 0.335rem
    width: 0.58rem
    height: 0.84rem
    text-align: center
.jiexi
    position: absolute
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15415064325675346036.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    bottom: 0rem
    right: 0.16rem
    width: 1.933rem
    height:1.04rem
    text-align: center
.nextbtn
    position: absolute
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15415064329578885697.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    width: 2rem
    height: 0.8rem
    top: 0.3rem
    right: 0.2rem
    line-height: 0.75rem
    text-align: center
    font-family: PingFangSC-Medium
    font-size: 0.28rem
    color: #FFFFFF
    letter-spacing: 0.0017rem
    > div
        width: 100%
        height 100%
.beginAnswer,.overtestClick
    position: absolute
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15415064323402925552.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    width: 3.5rem
    height: 1rem
    bottom: 0.1rem
    left: 50%
    margin-left: -1.75rem
    line-height: 0.8rem
    text-align: center
    font-family: PingFangSC-Medium
    font-size: 0.35rem
    color: #FFFFFF
    letter-spacing: 0.0017rem
    > div
        width: 100%
        height 100%
@media screen and (max-height: 535px) 
  .getreport
    position: absolute
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15415064323402925552.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    width: 3.5rem
    height: 1rem
    bottom: -0.1rem
    left: 50%
    padding 0 0.2rem
    margin-left: -1.75rem
    line-height: 0.8rem
    text-align: center
    font-family: PingFangSC-Medium  
    font-size: 0.35rem
    color: #FFFFFF
    letter-spacing: 0.0017rem

.getreport
    position: absolute
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15415064323402925552.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    width: 3.5rem
    height: 1rem
    bottom: 0.2rem
    left: 50%
    padding 0 0.2rem
    margin-left: -1.75rem
    line-height: 0.8rem
    text-align: center
    font-family: PingFangSC-Medium  
    font-size: 0.35rem
    color: #FFFFFF
    letter-spacing: 0.0017rem
.isAndriod
    position absolute
    top: 1rem!important;
.enablemute
    position absolute
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15415064327170625170.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    top: 0.3rem
    left: 0.335rem
    width: 0.58rem
    height 0.84rem
    text-align: center
    line-height: 0.5rem
    z-index :99999
.offmusic
    position absolute
    background: url('http://dev-pet-avatar.oss-cn-beijing.aliyuncs.com/html5/15415064330886194603.png') no-repeat
    background-size: 100% 100%
    -moz-background-size: 100% 100%
    -webkit-background-size: 100% 100%
    top: 0.3rem
    left: 0.335rem
    width: 0.58rem
    height 0.84rem
    text-align: center
    line-height: 0.5rem
    z-index :99999
.report
    width: 100%
    height 100%
    > img
        width: 100%
.report .src-components--download-2plWg_0
    top: 0!important
.reportimage
    display: block
.login
    position absolute
    top: 1rem
    left 0.5rem
    width: 1rem
    height 0.5rem
    background-color gold
    text-align: center
    line-height: 0.5rem
.window
    position absolute
    width: 80%
    height 3rem
    left: 50%
    top: 50%
    font-family: PingFangSC-Medium
    font-size: 0.35rem
    margin-left: -40%
    background-color #999999
    color: #ffffff
    border-radius: 0.3rem
    text-align: center
.contentText
    width: 100%
    position absolute  
    top: 40%
    font-size: 0.35rem
.botText
    width: 100%
    position absolute  
    top: 55%
    font-size: 0.14rem
.sure
    width: 100%
    position absolute  
    bottom: 5%
    padding: 0.15rem 0 0.1rem
    border-top: 0.01rem solid #ffffff
.videoimg
    width: 100%
    // height :100%
    position: absolute
    z-index: 99990
    display: none
.beginAnswer
    z-index :99999
.btpicture
    position: fixed
    bottom: 0
    width: 100%
.tan
    position fixed
    z-index 999999
    left 0
    right 0
    top 0
    bottom 0
    background rgba(255, 0, 0, 0.3)
.toast
    width:200px;
    height: 100px;
    position: absolute;
    top:50%;
    left 50%;
    margin-left: -100px;
    text-align: center;
    margin-top: -50px;
    font-size: 16px
    display: none
.appclass
    width: 100%
    height: 100%
.bottombox
    width: 100%
    height: 1rem
    background-color #fff
.appimage
    width: 100%
    // height 100%