.container
    width: 100%;
    height: 100%;
    background: #F7F4F1;
    padding: 0 0.4rem;
    box-sizing: border-box;
.share1-top
    width: 100%;
    height: 0.97rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01rem solid #DDDDDD;
    align-items: center;
    > div:first-of-type
        font-size: .28rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        > img 
            width: 0.54rem;
            height: 0.54rem;
            margin-right: .14rem;
    > div:last-of-type
        font-size: .28rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FA6400;
.content
    width: 6.70rem;
    height: 4.94rem;
    background: #FFFFFF;
    box-shadow: 0 .10rem .40rem 0 rgba(235, 198, 165, 0.3);
    border-radius: .39rem;
    margin: .8rem auto 0;
    box-sizing: border-box;
    padding: .3rem;
    > div:nth-child(1)
        font-size: .24rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #000000;
        margin-bottom: .1rem;
        line-height: .33rem;
    > div:nth-child(2)
        font-size: .34rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        margin-bottom: .1rem;
        line-height: .48rem;
    > div:nth-child(3)
        font-size: .24rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        margin-bottom: .3rem;
        line-height: .33rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        > img 
            width: .19rem;
            height: .2rem;
            margin-left: 0.1rem;
    > div:nth-child(4)
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: .2rem;
        > img 
            width: 100%;
    > div:last-of-type
        font-size: .24rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        line-height: .33rem;
.hasacount
    font-size: .28rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    width: fit-content
    margin: 0.4rem auto 0.2rem;
.chakan
    width: 2.40rem;
    height: .68rem;
    text-align: center;
    line-height: .68rem;
    background: #F5E2D2;
    border-radius: .34rem;
    font-size: .24rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    margin: 0 auto;
.des
    width: 3.25rem;
    height: .80rem;
    font-size: .28rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: .40rem;
    text-align: center;
    margin: .8rem auto 0;
.appstore
    width: 2.7rem;
    height: .88rem;
    margin: .4rem auto 0;
    > img 
        width: 100%;
